@media all and (max-width: 1279px) {


  .firstscreen {
    display: block;
    height: auto;
    padding: 0;

  }

  .firstscreen__header {
    padding: 22px 0 0 19px;
  }

  .firstscreen-header__navbar {
    display: none;
  }

  .firstscreen__main {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0;
  }

  .firstscreen-main__img {
    height: auto;
    width: calc(100% - 76px);
    max-width: 298px;
    margin: 67px 0 51px 0;
  }

  .firstscreen-main__about {
    justify-content: start;
    width: 100vw;
    align-items: center;
    height: auto;
  }

  .main-about__title {

    max-width: 302px;
    width: 100%;
    height: 41px;

    margin: 0 0 44px 0;

    font-size: 36px;
    line-height: 100%;

    text-align: center;
  }

  .main-about__text {
    max-width: 322px;
    width: 100%;
    height: 98px;
    margin: 0 0 44px 0;
    padding: 0;
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    text-align: center;
  }

  .main-about__text p {

    margin: 0;
  }

  .firstscreen .button {
    margin: 0 0 95px 0;
  }

  .about {
    padding: 91px 0 82px 0;
  }
  

  .about__title {
    width: 126.39px;
    height: 38px;
}

  .about__text {

    margin-top: 50px;
    max-width: 323px;
    width: 100%;
    height: 98px;
}
.about__text p {

  font-size: 16px;
  line-height: 120%;
}

.count {
  /* height: 477px; */
  width: 100%;
  padding: 75px 0 0 0;

  justify-content: center;

}

.count__wrapper{
  height: 390px;
  width: 400px;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: start;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}

 .count__item{
   margin: 0 0 80px 0;
 }

 .skills__image{
   display: none;
 }

 .skills {
   width: 100%;
   margin: 0;
   padding: 82px 18px 102px 18px;

   flex-direction: column;
   justify-content: start;

   
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
 }

  .skills::before {
    content: " ";
    max-width: 339px;
    width: 100%;
    height: 275px;
   background-image: url(/img/skills/Rectangle3.png);
   background-size: cover;
   
   display: block;
 } 

 .skills__wrapper{
   width: 100%;
   max-width: 339px;
   height: auto;
 }

 .skills__list{
   width: 100%;
   height: auto;
 }
 .skills-list__title{
  margin: 98px 0 42px 0;
 }
 .skills-list__title h2 {

   text-align: center;
 }

 .list-item__progressbar {
   width: 100%;
 }

 .video{

     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  padding: 93px 0 91px 0;
 }

 .video__text {
  max-width: 323px;
  width: 100%;
  height: 98px;
  margin: 34px 0 57px 0;
 }

 .video__text p {
  font-size: 16px;
line-height: 120%;
 }

 .video__player {
  max-width: 339px;
  width: calc(100% - 36px);
  height: 185px;
   background-size: cover;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
   box-sizing: border-box; 
 }

 .video__player img{
   height: 75px;
   width: 75px;
 }

 .projects {
   padding: 34px 0;
   justify-content: center;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
   box-sizing: border-box; 
 }

 .projects__item{
   width: 50%;
 }

 .projects__item:hover::before {
  width: 50%;
  padding-top: 50%;
}

.projects__item:nth-child(3){
  order: 4;
}
.projects__item:nth-child(4){
  order: 3;
}
.projects__item:nth-child(5){
  order: 6;
}
.projects__item:nth-child(6) {
  order: 5;
}
.projects__item:nth-child(7) {

  order: 8;
}
.projects__item:nth-child(8) {

  order: 8;
}

.form {

  padding: 91px 0 100px 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}
.form__title {
  width: 260px;
  height: 38px;
  margin: 0 0 34px 0;
}

.form__text{
  max-width: 322px;
  width: 100%;
  height: 98px;
  margin: 0 0 48px 0;
}

.form__text p{
  line-height: 19px;
}

.form__main {
  width: calc(100% - 32px);
  max-width: 342px;
  height: 421px;
}

.textmail__wrapper{
  flex-direction: column;
  width: 100%;
}

.form__main-name {
  width: 100%;
  height: 50px;
  margin: 0 0 11px 0;
  
}

.form__main-email {
  width: 100%;
  height: 50px;
  margin: 11px 0 21px 0;
}

.form__main-text {
  width: calc(100%);
  max-width: 342px;
  height: 175px;
  margin: 0 0 48px 0;
}

.footer {

  width: 100%;

  padding: 50px 0 47.5px 0;
  justify-content: center;
  flex-direction: column;

}

.footer__copyright{
  height: 51px;
  align-items: center;
  justify-content: center;
  margin: 0;

  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box; 
}

.footer__copyright h3{
  width: auto;
  height: auto;
  /* margin: 0 0 20px 0; */
  text-align: center;
}


.footer__links{
  margin: 38.5px 0 0 0;

  width: 175px;
  height: 40px;
}



 }