body {
    margin: 0;
    overflow-x: hidden;
}


.firstscreen {
    display: flex;
    max-width: 100%;
    width: 100vw;
    background: #EEEFF1;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0 146px 0;
}

.firstscreen__header {
    display: flex;
    height: 60px;
    width: 58.1%;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.firstscreen-header__logo {

    width: 96px;
    height: 60px;


    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;

    text-align: center;

    color: #34547A;
}

.firstscreen-header__navbar {

    
    height: 16px;
    margin-right: 11px;
    display: flex;
    justify-content: space-between;
}

.navbar__item {

    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin: 0 42px 0 0;
    letter-spacing: 0.1em;

    color: #000000;
}

.navbar__item-active {
    font-weight: 500;
    color: #34547A;
}

.firstscreen__main {
    margin: 162px 0 0 0;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 40px;
}

.firstscreen-main__img {

    width: 357px;
    height: 233.7px;
    margin: 21px 130px 0 35px;
}

.firstscreen-main__about {
    display: flex;
    flex-direction: column;

    height: 310px;
    width: 534px;
    justify-content: space-between;
}

.main-about__title {

    width: 541px;
    height: 45px;


    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;


    color: #000000;
}

.main-about__text {

    width: 540px;
    height: 67px;
    margin: 0 0 38px 1px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #727272;
}

.button {
    outline: none;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 65px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
    background: #34547A;
}

.about {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 119px 0 100px 0;
}

.about__title {
    width: 403px;
    height: 30px;
}

.about__title h2 {
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;

    color: #000000;
}

.about__text {

    margin-top: 50px;
    width: 540px;
    height: 67px;
}

.about__text p {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #727272;
}

.count {
    /* height: 250px; */
    display: flex;
    padding: 100px 382px;

    background: #34547A;

    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.count__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.count__item {
    display: flex;

}

.count-item__image {
    height: 50px;
    width: 50px;
}

.count-item__text {
    width: 71px;
    height: 44px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: white;
    height: 50px;
}

.count-item__text h3 {
    margin: 0;
    width: 36px;
    height: 19px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}

.count-item__text p {
    margin: 10px 0 0 0;
    width: 71px;
    height: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.skills {
    /* height: 653px; */
    padding: 101px;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
}

.skills__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1150px;
    height: 450px;
}

.skills__list {
    width: 445px;
    height: 257px;

    display: flex;
    flex-direction: column;
}

.skills-list__title {
    margin: 3px 0 22px 0;
}

.skills-list__title h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin: 0;

    color: #000000;
}

.skills-list__item {
    margin: 0 0 8px 0;
}

.list-item__title p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin: 16px 0 15px 0;
    color: #727272;
}

.list-item__progressbar {
    width: 445px;
    height: 4px;
    background: #C4C4C4;
}

.list-item__progressbar span {
    display: block;
    height: 100%;
    background: #34547A;
}

.skills__image img {
    width: 555px;
    height: 450px;
}


.video {
    padding: 100px 0 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #EEEFF1;

}



.video__title h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin: 0;

    color: #000000;
}

.video__text {
    width: 540px;
    height: 67px;
    margin: 40px 0 59px 0;
}

.video__text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin: 0;

    color: #727272;
}

.video__player {
    width: 1110px;
    height: 600px;
    background: url(/img/video/Rectangle5.png);
    background-size: contain;
    color: rgba(0, 0, 0, 0.65);

    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 0;
}

.projects__item {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-view {
    position: absolute;
    width: 100px;
    height: auto;
    display: none;
}

.project-image {
    width: 100%;
}

.projects__item:hover .project-view {
    display: block;
}

.projects__item:hover::before {
    content: "";
    position: absolute;
    width: 25%;
    padding-top: 25%;
    background-color: rgba(52, 84, 122, 0.8);
    display: block;
}

.form {
    background-color: rgba(238, 239, 241, 1);
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 100px 0;
}

.form__title {
    width: 406px;
    height: 30px;
    margin: 0 0 50px 0;
}

.form__title h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin: 0;

    color: #000000;
}

.form__text {
    width: 540px;
    height: 67px;
    margin: 0 0 65px 0;
}

.form__text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin: 0;

    color: #727272;
}

.form__main {
    height: 350px;
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__main-name {
    width: 255px;
    height: 50px;
    margin: 0 15px 20px 0;
    outline: none;
    border: none;
    padding: 0 0 0 20px;
}

.form__main-email {
    width: 255px;
    height: 50px;
    margin: 0 0 20px 15px;
    outline: none;
    border: none;
    padding: 0 0 0 20px;
}

.form__main-text {
    width: 540px;
    height: 175px;
    outline: none;
    border: none;
    margin: 0 0 50px 0;
    padding: 17px 0 0 20px;
    ;
    resize: none;

    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.form__main input::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;

}

.form__main textarea::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;

}

.form__main div input {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;

}

.textmail__wrapper {
    display: flex;
}

.form__main .button {
    width: 190px;
    height: 58px;
    border: none;
    outline: none;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    text-align: center;
    letter-spacing: 0.15em;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer {

    background: #34547A;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: flex;
    padding: 50px 389px 50px 406px;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: white;
    margin: 0 0 20px 0;

    height: 19px;
    width: 130px;
}

.footer__copyright p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    margin: 0;
    color: white;

    height: 12px;
    width: 193px;
}

.footer__links {
    height: 40px;
    width: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links img {
    height: 22.821805953979492px;
    width: 43.750099182128906px;
}