body{
    margin: 0;
}

.firstscreen {
    display: flex;
    width: 100%;
    height: 700px;
    background: #EEEFF1;
    justify-content: center;
    flex-wrap: wrap;
}

.firstscreen__header {
    display: flex;
    height: 60px;
    width: 58.1%;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.firstscreen-header__logo {
 
    width: 96px;
    height: 60px;


    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;

    /* identical to box height */

    text-align: center;

    color: #34547A;
}

.firstscreen-header__navbar {
    
    width: 611px;
    height: 16px;
    margin-right: 11px;
    display: flex;
    justify-content: space-between;
}

.navbar__item {


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    letter-spacing: 0.1em;

    color: #000000;
}

.navbar__item-active {
    font-weight: 500;
    color: #34547A;
}

.firstscreen__main{
    display: flex;
    justify-content: space-between;
    width: 55%;
    padding: 0 0 0 40px;
}

.firstscreen-main__img {

    width: 357px;
    height: 233.7px;
    margin: 21px 0 0 35px;
}

.firstscreen-main__about{
    display: flex;
    flex-direction: column;

    height: 310px;
    width: 534px;
    justify-content: space-between;
}

.about__title {

    width: 541px;
    height: 45px;


    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;


    color: #000000;
}

.about__text {

    width: 540px;
    height: 67px;
    margin: 0 0 38px 1px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #727272;
}

.button {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 65px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1em;

    margin: 0 0 13px 1px;
    color: #FFFFFF;
    background: #34547A;
}

